@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand img {
	/* font-size: 3rem;
	text-transform: uppercase;
	color: white; */
	height: 5.5rem;
	width: 29rem;
}
.brand h1 span {
	color: crimson;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 9rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image: url(./img/hero-bg.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}

/* End Hero Section */

/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	border-radius: 30px;
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-right .cta:hover{
	color: #fcfcfc;
}
#about .col-left .about-img {
	/* height: 100%;
	width: 100%; */
	/* clip-path: circle(); */
	position: relative;
	border: 8px solid transparent;
	
	/* padding: 1px; */
	/* border-radius: 20%;
	background: linear-gradient(60deg, #EFA51A 10%, #ce00 100%); */
}
#about .col-left .about-img .rounded{
	width: 500;
	height: 500;
	border-radius: 50%;
	padding: 1px;
	border: 8px solid transparent;
	background: linear-gradient(60deg, #EFA51A 10%, #ce00 100%);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
/* #about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
} */
/* End About Section */

/*Education Section*/
.education{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0 auto;
    padding: 100px 20px;
    background: #fcfcf4;
}
#education .education-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
#education .education-title span{
    color: crimson;
}
.education .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px 0;
}
.education .content .card{
    position: relative;
    min-width: 320px;
    height: 420px;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.2),
                inset -3px -3px 13px rgba(255, 255, 255, 0.1),
                3px 3px 13px rgba(0, 0, 0, 0.3),
                -3px -3px 13px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
}
.education .content .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: white ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fcfcf4;
    border-radius: 15px;
    box-shadow: 0 7px 16px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    overflow: hidden;
}
.education .content .card .box:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(251, 251, 222, 0.2);
    pointer-events: none;
}
.education .content .card .box:hover{
    transform: translateY(-50px);
    box-shadow: 0 11px 17px rgba(0, 0, 0, 0.5);
}
.education .content .card .box .contents{
    padding: 20px;
    text-align: center;
}
.education .content .card .box .contents h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(12, 12, 12, 0.05);
}
.education .content .card .box .contents h3{
    font-size: 2.5em;
    font-weight: 400;
    z-index: 1;
    transition: 0.5s;
}
.education .content .card .box .contents p{
    font-size: 16px;
    font-weight: 300;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    z-index: 1;
    transition: 0.5s;
}
.education .content .card .box .contents a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #000;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.education .content .card:nth-child(1) .box .contents a{
    background: #2196f3;
}
.education .content .card:nth-child(2) .box .contents a{
    background: #e91e63;
}
.education .content .card:nth-child(3) .box .contents a{
    background: #6bb814;
}
/*End of Education Section*/

/*Experience Section*/
.experience{
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0 auto;
    padding: 100px 20px;
	/* background-color: #000; */
    /* background: #fcfcf4; */
}
#experience .experience-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 120px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
#experience .experience-title span{
    color: crimson;
}
.timeline:before {
	content: '';
	position:absolute;
	height:100%;
	left:50%;
	width:2px;
	top:-20px;
	background:#000;
	z-index:1;
  }
  .timeline{
	position:relative;
	margin: 10px auto;
	width:130vh;
	padding:30px 0;
  }
  
  
  .timeline ul{
	margin:0;
	padding:0 ;
  }
  
  .timeline ul li{
	list-style:none;
	box-sizing:border-box; 
	line-height:normal;
	position:relative;
	width:50%;
	padding: 40px 70px;
  }
  .timeline ul li .right_content{
	background: white;
	padding: 15px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	/* margin-left: 150px; */
	border: 2px solid #fcfcf4;
	/* top: 50px; */
  }
  .timeline ul li .right_content h2{
	padding:0px 2px 0px 0px;
	font-size: 2em;
    font-weight: 400;
    z-index: 1;
    /* transition: 0.5s; */
  }
  .timeline ul li .right_content p{
	font-size: 16px;
    font-weight: 300;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
  }
  .timeline ul li:nth-child(odd){
	float:left;
	text-align:right;
	clear:both;
	
  }
  .timeline ul li:nth-child(even){
	float:right;
	text-align:left;
	clear:both;
	
  }
  
  .left_content{
	padding-bottom:20px;
  }
  
  .timeline ul li:nth-child(odd):before{
	content: '';
	position:absolute;
	width:17px;
	height:17px;
	background:rgba(220,20,60,1);
	border-radius:50%;
	box-shadow: 0 0 0 5px rgba(219,20,60,0.2);
	right:-10px;
	top:24px;
	z-index:1;
  }
  
  .timeline ul li:nth-child(even):before{
	content: '';
	position:absolute;
	width:17px;
	height:17px;
   background:rgba(220,20,60,1);
	border-radius:50%;
	box-shadow: 0 0 0 5px rgba(219,20,60,0.2);
	left:-7px;
	top:24px;
	z-index: 1;
  }
  
  .timeline ul li:nth-child(odd) .left_content{
	position:absolute;
	top:12px;
	right:-195px;
	margin:0;
	padding:8px 14px;
	/* box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5); */
	color:#000;
	box-shadow:0 2px 6px 2px rgba(220,20,60,0.4);
	border-radius:18px;
	
  }
  
  .timeline ul li:nth-child(even) .left_content{
	position:absolute;
	top:12px;
	left:-195px;
	margin:0;
	padding:8px 16px;
	
	color:#000;
	/* box-shadow:0 0 0 3px rgba(220,20,60,0.3); */
	box-shadow:0 2px 6px 2px rgba(220,20,60,0.4);
	border-radius:18px;
	
  }
  
  @media (max-width: 1000px){
	
	.timeline{
	  width:100%;
	}
  }
  
  @media (max-width: 767px){
	.timeline{
	  width:100%;
	}
	.timeline:before{
	  left:20px;
	}
	.timeline ul li:nth-child(odd),
	.timeline ul li:nth-child(even){
	  width:100%;
	  text-align:left;
	 padding-left:50px; 
	}
	.timeline ul li:nth-child(odd):before
	  {
	  top:3px;
	  left:13px;
	
	}
	.timeline ul li:nth-child(even):before
	{ 
	  top:3px;
	  left:13px;
	}
	
	  .timeline ul li:nth-child(odd) .left_content,
	.timeline ul li:nth-child(even) .left_content
	{
	  top:-5px;
	  left:50px;
	  right:inherit;
	}
	/* .timeline ul li
	{
		top: -90px;
		/* padding: 0px;
	} */
	
  }
  
/*End of Experience Section*/

/*Projects Section*/
.projects{
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0 auto;
    padding: 100px 20px 20px;
    /* background: #000; */
	background: #fcfcf4;
}
#projects .project-title{
    font-size: 4rem;
    font-weight: 300;
    color: rgb(0, 0, 0);
    margin-bottom: 100px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
#projects .project-title span{
    color: crimson;
}
#projects .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 15rem;
	/* gap: 2rem; */
}
#projects .item:nth-of-type(even) {
	flex-direction: row-reverse;
}
#projects .item .left {
	flex: 1;
}
#projects .item .right {
	margin-left: -150px;
	flex: 1;
	background-color: #fcfcf4;
	padding: 5rem 3rem;
	border-radius: 12px;
	box-shadow: 0px 0px 20px #00000028;
	z-index: 2;
}
#projects .item:nth-of-type(even) .right {
	margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
	margin-left: -150px;
}
#projects .item .left .img {
	/* height: 470px; */
	height: 70vh;
	overflow: hidden;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 2px 14px 4px rgba(220,20,60,0.4);
	position: relative;
}
#projects .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #f5444438;
	z-index: -1;
}
#projects .item .left .img img {
	object-fit: cover;
	transition: 0.3s ease transform;
}
#projects .item:hover .left .img img {
	transform: scale(1.1);
	z-index: 1;
}
#projects .item .right .project-title {
	font-size: 2.5rem;
	font-family: 'Montserrat';
	margin-bottom: 1rem;
}
#projects .item .right .project-sub-title {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}
#projects .item .right .project-desc {
	/* color: #48464b; */
	margin-bottom: 3rem;
}
#projects .item .right .primary-btn {
	display: inline-flex;
	background-color: #dc143d;
	/* color: white; */
	/* font-size: 1.8rem; */
	/* padding: 0.8rem 1.6rem; */
	border: 2px solid crimson;
	border-radius: 50px;
	color: #fff;
	font-size: 1.6rem;
	padding: calc(0.7em - 4px) calc(1em - 4px);
}
#projects .item .right .primary-btn:hover {
	background-color: white;
	color: crimson;
	border: 2px solid crimson;
	font-size: 1.6rem;
	/* padding: calc(0.6em - 4px) calc(1.6em - 4px); */
	transition: 0.3s ease;
	transition-property: background-color, color;
}
#projects .item .right .buttons .primary-btn.outline {
	background-color: transparent;
	border: 2px solid #dc143d;
	color: #dc143d;
	font-size: 1.6rem;
	transition: 0.3s ease;
	transition-property: background-color, color;
	/* padding: calc(0.6em - 4px) calc(1.6em - 4px); */
	margin-left: 1.7vw;
}
#projects .item .right .buttons .primary-btn.outline.preview {
	background-color: transparent;
	border: 2px solid #dc143d;
	color: #dc143d;
	font-size: 1.6rem;
	transition: 0.3s ease;
	transition-property: background-color, color;
	padding: calc(0.6em - 4px) calc(1.8em - 4px);
	margin-left: 0;
}
/* #projects .item .right .buttons .primary-btn.outline:hover {
	color: white;
	background-color: crimson;	
} */
#projects .item .right .buttons svg {
	width: 50px;
	color: #dc143d;
}
/* #projects .item .right .buttons svg:hover {
	width: 50px;
	color: white;
	transition: 0.3s ease;
	transition-property: background-color, color;
} */
#projects .item .right .external-link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: calc(0.6em - 4px) calc(1em - 4px);
}
#projects .item .right .external-link svg {
	width: 20px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
/* #projects .item .right .external-link svg:hover {
	width: 20px;
	color: white;
} */

@media only screen and (max-width: 768px) {
	#projects .item {
		flex-direction: column;
	}
	/* #projects .item .img {
		height: 20%;
	} */
	#projects .item .left {
		width: 97%;
		/* height: 20%; */
	}
	#projects .item .right {
		margin-left: 0;
		width: 90%;
		margin-top: -180px;
		/* padding: 4rem 3rem; */
	}
	#projects .item:nth-of-type(even) {
		flex-direction: column;
	}
	#projects .item:nth-of-type(even) .left {
		margin-left: 0;
	}
}
@media only screen and (max-width: 450px) {
	#projects .item .left .img {
		height: 70vh;
	}
	#projects .item .left {
		width: 98%;
		/* height: 20%; */
	}
	#projects .item .right {
		width: 92%;
	}
	#projects .item .right .buttons {
		flex-direction: column;
	}
	#projects .item .right .buttons a {
		/* width: 100%; */
		text-align: center;
		/* margin-left: -1vw; */
		margin: 1vw;
		padding: calc(0.7em - 4px) calc(1em - 4px);
	}
	/* #projects .item .right .primary-btn {
		display: flex;
		text-align: center;
		margin-bottom: 1rem;
		margin-left: 1vw;
		padding: calc(0.7em - 4px) calc(1em - 4px);
	}	 */
	#projects .item .right .buttons .primary-btn.outline {
		margin-left: 1vw;
	}
	/* #projects .item .right .primary-btn {
		padding: 2rem;
		text-align: center;
		align-items: center;
		align-self: center;
		align-content: center;
		font
	} */
	#projects .item .left .img {
		/* height: 470px; */
		height: 40vh;
	}
	#projects .item .right .primary-btn.outline.preview {
		display: flex;
		text-align: center;
		/* margin-bottom: 1rem; */
		margin-left: 1vw;
		padding: calc(0.7em - 4px) calc(1em - 4px);
	}
	#projects .item .right {
		padding: 4.5rem 2.5rem;
	}
}
/*End of Projects Section*/


/*-----SKILLS SECTION-----*/
.skills{
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0 auto;
    padding: 100px 20px;
    /* background: #000; */
	background: #fff;
}
#skills .skills-title{
    font-size: 4rem;
    font-weight: 300;
    color: rgb(0, 0, 0);
    margin-bottom: 80px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
#skills .skills-title span{
    color: crimson;
}
/* #skills section{
    padding: 100px 0;
} */
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
}
/* .skills .title::after{
    content: "what i know";
} */
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}
.skills .skills-content .right .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}
/* .skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
} */
.skills .skills-content .left .bars{
    margin-bottom: 15px;
}
.skills .skills-content .left .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
/* .skills .skills-content .left h2 {
	font-weight: 600;
	font-size: 2.1rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 25px;
	font-family: 'Montserrat', sans-serif;
} */
.skills .skills-content .left span{
    font-weight: 500;
    font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}
.skills .skills-content .left .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
	border-radius: 10px;
}
.skills .skills-content .left .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
	border-radius: 10px;
}
.skills-content .left .html::before{
    width: 90%;
}
.skills-content .left .css::before{
    width: 80%;
}
.skills-content .left .js::before{
    width: 60%;
}
.skills-content .left .nodejs::before{
    width: 80%;
}
.skills-content .left .angularjs::before{
    width: 70%;
}
.skills-content .left .mysql::before{
    width: 70%;
}
.skills-content .left .mongodb::before{
    width: 90%;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
/* .skills .skills-content .right h2 {
	font-weight: 600;
	font-size: 2.1rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 25px;
} */
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
	border-radius: 10px;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
	border-radius: 10px;
}
.skills-content .right .creative::before{
    width: 80%;
}
.skills-content .right .team::before{
    width: 90%;
}
.skills-content .right .communication::before{
    width: 75%;
}
.skills-content .right .delegation::before{
    width: 65%;
}
.skills-content .right .initiative::before{
    width: 70%;
}
.skills-content .right .resilient::before{
    width: 80%;
}

@media (max-width: 947px){
	.skills .skills-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
	.max-width{
		padding: 0 40px;
	}
}
@media (max-width: 500px) {
	.skills .skills-content .left .text{
        font-size: 19px;
    }
	.max-width{
		padding: 0 40px;
	} 
}
/*-----END OF SKILLS SECTION-----*/

/* -----CONTACT SECTION----- */
.contact{
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0 auto;
    padding: 100px 20px 80px 20px;
    /* background: #000; */
	background: #fcfcf4;
}
#contact .contact-title{
    font-size: 4rem;
    font-weight: 300;
    color: rgb(0, 0, 0);
    margin-bottom: 80px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
#contact .contact-title span{
    color: crimson;
}
/* #skills section{
    padding: 100px 0;
} */
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* .contact .title::after{
    content: "get in touch";
} */
.contact .contact-content{
	display: flex;
	flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    /* text-align: justify; */
	/* font-size: 16px; */
	font-weight: 300;
    font-size: 17px;
    /* font-weight: 300; */
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
    /* z-index: 1; */
    /* transition: 0.5s; */
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
	height: 20px;
	width: 20px;
	margin-right: 10px;
	margin-left: -9px;
	margin-bottom: 20px;
}
.contact .contact-content .row img{
	height: 40px;
	width: 40px;
	color: crimson;
	/* margin-right: 500px;
	margin-bottom: 500px; */
}
.contact .contact-content .info .head{
    font-weight: 500;
	font-size: 16px;
}
.contact .contact-content .info .sub-title{
    /* color: #333; */
	font-size: 14px;
	font-weight: 350;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
	font-weight: 400;
    transition: all 0.3s ease;
	line-height: 2.5rem;
    letter-spacing: 0.05rem;
	font-family: 'Montserrat', sans-serif;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}
.right form .button-area button:hover{
  color: crimson;
  background: none;
}
@media (max-width: 500px) {
    /* .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    } */
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    /* .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    } */
}
@media (max-width: 947px){
	.contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
	.max-width{
		padding: 0 40px;
	}
}
@media (max-width: 500px) {
	.contact .contact-content .left .text{
        font-size: 19px;
    }
	.max-width{
		padding: 0 40px;
	} 
}
/* ----- END OF CONTACT SECTION ----- */

/* ----- FOOTER ----- */
#footer {
	/* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
	background-color: #000;
}
#footer .footer {
	min-height: 100px;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 10px;
}
#footer .social-item {
	height: 40px;
	width: 40px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(0.4);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* ----- END OF FOOTER ----- */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Queryy For Phone */
@media only screen and (max-width: 450px){
	.brand img {
		/* font-size: 3rem;
		text-transform: uppercase;
		color: white; */
		height: 5.3rem;
		width: 26rem;
	}
	#header .hamburger {
		margin-left: 2vw;
	}
} 
/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

    /* About */
	#about .container {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	/* #about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	} */
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/*Projects Section*/
	#project .container .timeline:before {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 2px;
		height: 100%;
		background-color: gray;
	  }
	  #project .container .timeline ul li {
		width: 50%;
		position: relative;
		margin-bottom: 50px;
	  }
	  #project .container .timeline ul li:nth-child(odd) {
		float: left;
		clear: right;
		transform: translateX(-30px);
		border-radius: 20px 0px 20px 20px;
	  }
	  #project .container .timeline ul li:nth-child(even) {
		float: right;
		clear: left;
		transform: translateX(30px);
		border-radius: 0px 20px 20px 20px;
	  }
	  #project .container .timeline ul li::before {
		content: "";
		position: absolute;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background-color: gray;
		top: 0px;
	  }
	  #project .container .timeline ul li:nth-child(odd)::before {
		transform: translate(50%, -50%);
		right: -30px;
	  }
	  #project .container .timeline ul li:nth-child(even)::before {
		transform: translate(-50%, -50%);
		left: -30px;
	  }
	  #project .container .timeline-content .date {
		position: absolute;
		top: -30px;
	  }
	  #project .container .timeline ul li:hover::before {
		background-color: aqua;
	  }
	  /*End of Projects Section*/
}
/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
    width: .9rem;
    background-color: hsl(250, 12%, 90%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    /* background-color: hsl(250, 12%, 80%); */
	background-color: hsl(246, 4%, 48%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(250, 8%, 65%);
}